/* * {
        margin:0;
        padding: 0;
        border: 1px solid blue
} */

/* main {
    background-color:brown;
} */

/* #pie {
    background-color: aqua;
}

#Encabezado {
    background-color: aqua;
} */

/* #pie,#Encabezado,aside {
    background-color: aqua;
} */

/* * {
    color: gray;
} */

/* #header {
    color: blue;
} */